

body {
     background-color: Dodgerblue;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
}

.search{
    height: 200px;
    width: 300px;
    background-color: green;
    position: relative;
}

.search .btn{
    position: absolute;
    bottom: 0;
    right: 0;
}
